{% extends 'news/base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <form id="login_form" method="post" action="/news/login/">
            {% csrf_token %}
            {{error}}
            <div class="form-group">
                <label>用户名:</label>
                <input type="text" class="form-control" name="username" value="" size="50" />
            </div>
            <div class="form-group">
                <label>密码:</label>
                <input type="password" class="form-control" name="password" value="" size="50" />
            </div>
            <button type="submit" class="btn btn-default">登录</button>
        </form>
    </div>
</div>
{% endblock %}
